/* This css will format all of the display pages */

.user-list {
    width: 250px;
    min-width: 250px;
    padding: 30px;
    box-sizing: border-box;
    background: #fbfbfb;
    color: var(--heading-color);
  }

  .user-list .user-list-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px auto;
  }

  .user-list .avatar {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .messages-container{
    margin-top: 2rem;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.individual-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  outline: 1px solid gray;
}