.Accounting {
    margin: 30px auto;
}
  .Accounting nav {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    justify-content: center;
  }
  .Accounting p {
    font-size: 0.9em;
    margin-right: 10px;
  }
  .Accounting button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    border-right: 1px solid #e4e4e4;
    font-size: 0.9em;
  }
  .Accounting button:last-child {
    border: 0;
  }
  .Accounting button.active {
    color: var(--primary-color);
  } 